# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Daily CI

on:
  schedule:
    - cron: "0 21 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.0]

    steps:
    - uses: actions/checkout@v2
    - name: Append new line
      run: echo `date +%Y%m%d-%H%M%S` >> daily
    - name: Commit files
      run: |
        git add .
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "daily sign in Github" -a
    - name: push to the repository
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.CI_TOKEN }}
