# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: sign in bilibili

on:
  push:
    branches: master
  schedule:
    - cron: 0 0 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
      - run: pip3 install -r requirements
      - run: echo ::set-output name=result::`python3 dosign.py`
        id: sign
      - run: echo "${{ steps.sign.outputs.result }}"
      - run: curl https://api.telegram.org/bot1022681587:AAGbCwF8DpDQ8ouavrRZAR5gGDMIT9t-kbk/sendMessage?chat_id=-1001346407156%20&text=${{ steps.sign.outputs.result }}

    
